extends layout

block content
  h1.login Create Post
  form.signup-form(action="", method="POST")
    label(for="title") Title:
    input(type="text", id="title", name="title", required)
    br

    label(for="desc") Description:
    textarea(id="desc", name="desc", rows="10", required)
    br

    button(type="submit") Submit

  if errors
    ul
      for error in errors
        li!= error.msg
