doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      a(href="/login") Log in
      a(href="/signup") Sign up
    block content
