doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar 
      if user === undefined
        div
          a(href="/posts") Home
        div
          a(href="/login") Log in
          a(href="/signup") Sign up
      else
        div
          a(href="/posts") Home
          a(href="/membership") Membership
        div
          a(href=user.url) Profile
          a(href="/logout") Logout
    block content
