doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      div
        a(href="/posts") Home 
      if user === undefined
        div
          a(href="/login") Log in
          a(href="/signup") Sign up
      else
        div
          a(href="/members/${user.id}") Profile
          a(href="/logout") Logout
    block content
