body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: skyblue;
  height: 2rem;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 1.2rem;
}






